.step-1-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.card:hover {
  position: relative;
  top: -10px;
}
.card {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  cursor: pointer;
  width: 350px;
  min-height: 200px;
  height: auto;
  margin: 1rem;
  background-color: white;
  border-radius: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.card-content input {
  width: 20px;
  height: 30px;
}
.card-content img {
  max-width: 150px;
  height: auto;
}
